@{
    ViewData["Title"] = "Confirm Page";
}
<h1>@ViewData["Title"]</h1>

<p>Confirm Page.</p>
<p>Thank you for ordering this.</p>

<input type="submit" value="confirm" asp-action="Privacy">
